<iframe
  allowtransparency="true"
  frameborder="0"
  height="216"
  id="widget-frame"
  scrolling="no"
  src="http://www.weeronline.nl/Go/ExternalWidgetsNew/ThreeDaysCity?gid={{ weeronline_id }}&amp;sizeType=1&amp;temperatureScale={{temperature_scale}}&amp;defaultSettings=False"
  style="border: none;"
  width="235">
</iframe>
